<div id="filterOption" class="modal" style="display: none;">
    <div class="modal-content">
        <span class="close" id="closeModal">&times;</span>
        <h2>Filter Options</h2>

        <label for="ratingRange">Rating Range:</label>
        <div>
            <input 
                type="range" 
                id="minRatingSlider" 
                min="0" 
                max="10" 
                step="0.5" 
                value="0" 
                oninput="minRatingValueDisplay.textContent = minRatingSlider.value; updateMaxSliderMin()"
            />
            <span>Min: <span id="minRatingValueDisplay">0</span></span>
        </div>

        <label for="tags">Tags:</label>
        <input type="text" id="tags" placeholder="Enter a tag">

        <label for="timeFilter">Time:</label>
        <div>
            <label for="fromDate">Enter a from date:</label>
            <input id="fromDate" type="datetime-local" name="fromDate" value="2017-06-01T08:30" />

            <label for="toDate">Enter a from date:</label>
            <input id="toDate" type="datetime-local" name="toDate" value="2017-06-01T08:30" />
        </div>

        <button id="applyFilters">Apply Filters</button>
        <button id="clearFilters">Clear Filters</button>
    </div>
</div>