<div id="authErrors">
    {{#if authErrors}}
    {{#each authErrors}}
    <p class="authError">
        {{this}}
    </p>
    {{/each}}
    {{/if}}
</div>
<section>
    <h1 class="page_title">Photography Spot Finder</h1>
    <p id="HomePageMessage">Welcome to Photography Spot Finder! Our platform is designed to help photographers of
        all skill levels discover and share the best photography locations in and around New York City. From iconic
        landmarks to hidden gems, you can explore top-rated spots, submit your own discoveries, participate in contests
        and engage with a
        vibrant community.</p>
    <form class="homePageSearch" action="/spots/search" method="GET">
        <label for="keyword">
            Find Photography Spots:
        </label>
        <input type="text" name="keyword" placeholder="Enter a keyword to explore..." id="keyword" required>
        <button type="submit">Search</button>
    </form>
</section>