#map {
  border-radius: 1em;
  width: 100%;
  height: 50vh;
  margin: 0.5em 0;
  display: block;
  align-content: center;
}

main {
  margin-top: 10%;
}

article {
  align-self: center;
  max-width: 80%;
  min-width: 60%;
  margin: 0 auto;
  background-color: white;
  padding: 3%;
  border-radius: 1em;
  box-shadow: 0.3 0.1;
  box-shadow: #d2d2d7 0em 0.5em 2em;
}
#imageSection {
  text-align: center;
}
article h2 {
  font-size: 2em;
}

#spotImages {
  display: flex;
  overflow-x: auto;
  gap: 5%;
  overflow: auto;
  white-space: nowrap;
  scroll-snap-type: x mandatory;
  height: 50vh;
  width: auto;
  object-fit: cover;
  scroll-snap-align: start;
  flex-shrink: 0;
}
#spotImages img {
  display: block;
  margin: 0 auto;
  object-fit: contain;
  max-height: 50vh;
  border-radius: 1em;

  min-height: none;
  width: auto;
  max-width: 100%;
}

#userInteractionsDiv {
  margin: 5% auto;
  display: block;
  width: 100%;
}
#userInteractionsDiv h2 {
  display: block;
  text-align: center;
  margin: 2% auto;
}

#userInteractionsDiv label {
  display: block;
  text-align: center;
  margin: 2% auto;
  margin-top: 5%;
}

#upload_widget {
  display: block;
  background-color: black;
  margin: 2% auto;
}

#userInteractionsDiv input[type="submit"] {
  margin-top: 4%;
}

#contestDisclaimer {
  font-size: 0.8em;
}
#imageUploadPreviews {
  margin-top: 5%;
  display: flex;
  justify-content: center;
}
.previewImageContainer {
  width: 50%;
  display: block;
  position: relative;
}

.previewImageContainer img {
  width: 100%;
  max-height: 25em;
  height: auto;
}
.removeImageIcon {
  cursor: pointer;
  position: absolute;
  color: red;
  font-weight: bold;
  top: 0;
  right: 0;
}

#comments-list {
  list-style-type: none;
  padding: 0;
}

#comments-list li {
  display: block;
  margin: 2% auto;
  border-radius: 1em;
  padding: 3%;
  background-color: #fbf8ef;
  box-shadow: 0.15 0.05;
  box-shadow: #d2d2d7 0em 0.5em 2em;
}

.comemnt-item {
  margin: 5% auto;
  height: 20%;
  place-items: center;
}

.comment-content {
  text-align: left;
  font-size: 1em;
}
.comment-content img {
  display: block;
  margin: 0 auto;
  object-fit: contain;
  max-height: 25vh;
  min-height: none;
  width: auto;
  border-radius: 1em;
  max-width: 100%;
}

.comment-meta {
  margin-left: auto;
}
.comment-meta p {
  font-size: 0.9em;
  color: rgb(105, 105, 105);
}

#summary-container {
  padding: 0 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.addSpot input[type="text"] {
  width: 100%;
  padding: 0.8em 1.25em;
  margin: 0.5em 0;
  box-sizing: border-box;
  border-radius: 1em;
  font-size: 1em;
}

section h2 {
  text-align: center;
}
.detailForms {
  align-self: center;
  width: 80%;
  margin: 0 auto;
  padding: 5% 5%;
  background-color: white;
  border-radius: 1em;
  box-shadow: 0.3 0.1;
  box-shadow: #d2d2d7 0em 0.5em 2em;
}
.detailForms label {
  margin: 5% 0 5% 0;
  font-size: 1.3em;
}
.detailForms p {
  margin: 5% 0 5% 0;
  font-size: 1.5em;
  text-align: center;
}
.detailForms input[type="text"],
input[type="range"],
input[type="file"] {
  width: 100%;
  padding: 0.8em 1.25em;
  margin: 0.5em 0;
  box-sizing: border-box;
  border-radius: 1em;
  font-size: 1em;
}
#rangeSliderDiaplay {
  display: block;
  text-align: center;
}
.detailForms input[type="submit"],
button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2em;
}
.detailForms input[type="submit"] {
  cursor: pointer;
  width: 40%;
  display: block;
  margin: 0 auto;
  padding: 0.75em;
  box-sizing: border-box;
  border-radius: 1em;
  font-size: 1.5em;
}
.detailForms input[type="submit"] {
  background-color: #37d857;
  align-items: flex-start;
}
.detailForms input[type="submit"]:hover {
  background-color: #00ff33;
}

#submission-list {
  list-style-type: none;
  padding: 0;
}

#submission-list li {
  display: block;
  margin: 5% auto;
  border-radius: 1em;
  padding: 3%;
  background-color: #fbf8ef;
  box-shadow: 0.15 0.05;
  box-shadow: #d2d2d7 0em 0.5em 2em;
}

.submitted-item {
  margin: 5% auto;
  height: 20%;
  place-items: center;
}

.submitted-item img {
  display: block;
  margin: 0 auto;
  object-fit: contain;
  max-height: 25vh;
  min-height: none;
  width: auto;
  border-radius: 1em;
  max-width: 100%;
}

.submitted-meta {
  margin-left: auto;
}
.submitted-meta p {
  font-size: 0.9em;
  color: rgb(105, 105, 105);
}

.fa {
  font-size: 5vh;
  margin-right: 1em;
  margin-left: 1em;

  cursor: pointer;
  user-select: none;
}

.fa:hover {
  color: red;
}

.selected,
.selected:hover {
  color: #00ff33;
}

.vote-bar h4 {
  text-align: center;
}
