/* general body styling */
body {
  background-color: #eeeeee;
  height: 100%;
  width: 100%;
  margin: 0;
}

/* general footer styling */

footer {
  vertical-align: bottom;
  position: relative;
  bottom: 0;
  margin-top: 10%;
  width: 100%;
}

footer ul {
  list-style-type: none;
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

footer li {
  text-align: center;
  height: 100%;
  flex: 1;
  padding: 0.5em;
}

/* top nav bar styling */
#topNavBar li {
  text-align: center;
  height: 100%;
  flex: 1;
}
#topNavBar li:hover {
  background-color: #ff0000;
  cursor: pointer;
}
#topNavBar a {
  text-decoration: none;
  color: white;
  font-size: 1.5em;
  display: block;
  pointer-events: auto;
  padding: 5%;
}
#topNavBar ul {
  list-style-type: none;
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: #04b127;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

/* title styling */
.page_title {
  margin: 5%;
  text-align: center;
  font-size: 3em;
}

/* form styling */
.mainForms {
  align-self: center;
  max-width: 50%;
  min-width: 20%;
  margin: 0 auto;
  padding: 2%;
  background-color: white;
  border-radius: 1em;
  box-shadow: 0.3 0.1;
  box-shadow: #d2d2d7 0em 0.5em 2em;
}
.mainForms label {
  margin: 5% 0 5% 0;
  font-size: 1.3em;
}
.mainForms p {
  margin: 5% 0 5% 0;
  font-size: 1.5em;
  text-align: center;
}
.mainForms input[type="text"],
input[type="password"],
input[type="file"] {
  width: 100%;
  padding: 0.8em 1.25em;
  margin: 0.5em 0;
  box-sizing: border-box;
  border-radius: 1em;
  font-size: 1em;
}
.form_buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2em;
}
.mainForms button {
  cursor: pointer;
  width: 40%;
  padding: 0.75em;
  box-sizing: border-box;
  border-radius: 1em;
  font-size: 1.5em;
}
.mainForms button[type="submit"] {
  background-color: #37d857;
  align-items: flex-start;
}
.mainForms button[type="submit"]:hover {
  background-color: #00ff33;
}
.mainForms button[type="reset"] {
  background-color: #ff311e;
  align-items: flex-start;
}
.mainForms button[type="reset"]:hover {
  background-color: rgb(255, 0, 0);
}

.formInputError {
  text-align: center;
  color: red;
  font-weight: bold;
}

.authError {
  text-align: center;
  color: blue;
  font-weight: bold;
  font-size: 2em;
}
#login-here-link {
  text-decoration: none;
}

#login-here-link:visited {
  color: blue;
}

#login-here-link:hover {
  color: red;
}
