<section>
  <h1 class="page_title">Login</h1>

  {{#if hasAuthErrors}}
  <ul>
    {{#each authErrors}}
    <li>
      {{this}}
    </li>
    {{/each}}
  </ul>
  {{/if}}

  <form action="/users/login" method="POST" class="mainForms" id="login-form">

    <label>
      Username
      <input type="text" name="username" placeholder="Username" value="{{data.username}}" id="user-name" required>
    </label>

    <label>
      Password
      <input type="password" name="password" placeholder="Password" value="{{data.password}}" id="password" required>
    </label>
    <div class="formInputError" id="form-errors-div">
      {{#if hasErrors}}
      {{#each errors}}
      <p>
        {{this}}
      </p>
      {{/each}}
      {{/if}}
    </div>
    <div class="form_buttons">
      <button type="submit">Login</button>
      <button type="reset" id="clear-login-form">Clear Form</button>
    </div>
    <p>Don't have an account? <a href="/users/signup" id="login-here-link">Sign up here</a></p>
  </form>

</section>
<script src="/public/js/validation/login_validation.js"></script>