<section>

  <label>
    First Name:
    <text>
      {{user.firstName}}
    </text>
  </label>

</section>
<section>
  <label>
    Last Name:
    <text>
      {{user.lastName}}
    </text>
  </label>
</section>

<section>
  <label>
    Username:
    <text>
      {{user.username}}
    </text>
  </label>
</section>