<section>
    <h1 class="page_title">Update Password</h1>
    <form method="POST" class="mainForms" id="updatepassword-form">

        <label>
            Current Password
            <input type="password" name="currentpassword" placeholder="Current Password"
                value="{{data.currentpassword}}" id="currentpassword" required>
        </label>

        <label>
            New Password
            <input type="password" name="newpassword" placeholder="New Password" value="{{data.newpassword}}"
                id="newpassword" required>
        </label>
        <span id="password-policy"> *Password must be at least 8 characters long, including one uppercase letter, one
            lowercase letter, one number, and one special character.
        </span>

        <input type="hidden" name="current-username" value="{{user.username}}" id="current-username">

        <input type="hidden" name="_method" value="PATCH">

        <div class="formInputError" id="form-errors-div">
            {{#if hasErrors}}
            {{#each errors}}
            <p>
                {{this}}
            <p>
                {{/each}}
                {{/if}}
        </div>
        <div class="form_buttons">
            <button type="reset" id="back-to-profile">
                Back to Profile
            </button>
            <button type="submit">Confirm Changes</button>
        </div>
    </form>
</section>
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
<script type="module" src="/public/js/users/updatepassword_validation.js"></script>